body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #52515d;
}

h1 {
  text-align: center;
}

canvas {
  width: 600px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
}

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  justify-content: center;
  align-items: center;
}

#toolbar {
  margin: 20px;
  padding: 15px;
  color: white;
  max-width: 100px;
  justify-content: flex-start;
  align-items:flex-start;
  background-color: #2e2d5e;
  border-radius: 5px;
}

#toolbar > * {
  width: 95px;
}

#toolbar > p {
  text-align: center;
  font-size: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: #4d4c9a;
  color: white;
  font-size: 12px;
}

#clear-all{
  margin-top: 20px;
  background-color: tomato;
}
